.container {
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
}
.actionBlock {
    display: flex;
    align-items: center;
}

@media (max-width: 375px) {
    .container {
        flex-direction: column;
        padding: 10px;
    }
}

