.plusesSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 20px;
}
.textBlock {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 61px;
    line-height: 73px;
    color: black;
    word-wrap: break-word;
}
.wrapperTextBlock {
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    box-sizing: border-box;
}
.networkImageWrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.networkImage {
    max-width: 1000px;
    width: 100%;
}

@media (max-width: 600px) {
    .textBlock {
        font-size: 25px;
        line-height: 28px;
    }
    .plusesSection {
        flex-direction: column;
        margin-bottom: 10px;
        margin-top: 20px;
    }
}